
button {
  top: 41px; 
  left: 515px; 
  width: 157px; 
  height: 37px; 
  background: #1C508DFF; 
  border-radius: 19px;  
}

.text {
    top: 9px; 
    left: 29px; 
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    color: #FFFFFFFF; 

}
