@import "/src/assets/styles/universals.scss";
@import "/src/assets/styles/variables.scss";
@mixin mobile {
    @media (max-width: 800px) {
      @content;
    }
}
button {
  width: auto; 
  height: auto; 
  background: #1C508DFF; 
  border-radius: 19px;  
  border: none ;
  margin: 1px 5px;
  padding: 10px 20px;
}


.text {
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    color: #FFFFFFFF; 
    font-weight: 100;
    letter-spacing: 1px;   
}
