.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 5px;
    &__logo{
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        padding: 10px 5px;
        &__img {
            // position: absolute;
            //  top: 47px;
            // left: 31px;
            width: 42px;
            height: 31px;
            border-radius: 6px;
            }
        &__text {
            //position: absolute;
            // top: 52px;
            // left: 78px;
            font-family: Inter;
            font-size: 14px;
            line-height: 22px;
            color: #BDC1CAFF;
            }
    }
    &__copyright{
        color: #BDC1CAFF;
        opacity: 90%;
    }
}

